<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CustomerDbconnectionString" value="Data Source=DESKTOP-GSBITFP\SQLEXPRESS;Initial Catalog=CustomerDb;Persist Security Info=False;User ID=sa;Password=sapassword;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False"/>
    <add key="AdminEmail" value="devsamdotnet@gmail.com"/>
    <add key="AdminPassword" value="DevSam.NET"/>
  </appSettings>
</configuration>